[submodule "accelergy-timeloop-infrastructure"]
	path = accelergy-timeloop-infrastructure
	url = https://github.com/Accelergy-Project/accelergy-timeloop-infrastructure.git
[submodule "timeloop-accelergy-exercises"]
	path = timeloop-accelergy-exercises
	url = https://github.com/Accelergy-Project/timeloop-accelergy-exercises.git
