# This file will be converted into a YAML file by Jinja2 templating.
{{add_to_path(cwd() ~ '/designs/_include')}}
{{add_to_path(cwd() ~ '/designs/_components')}}

# Grab the necessary top keys from each file and put them here
architecture: {{include('arch.yaml', 'architecture')}}
mapper:       {{include('mapper.yaml', 'mapper')}}
problem:      {{include(problem|default('problem.yaml'), 'problem')}}
